<!--
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead> 
    <tbody >
        <tr *ngFor="let product of products">
            <td class="aling-middle"><img src="{{product.imageUrl}}" height="50"/></td>
            <td class="aling-middle">{{product.name}}</td>
            <td class="aling-middle">{{product.unitPrice | currency: 'USD'}}</td>
            <td class="aling-middle">{{product.unitsInStock}}</td>
        </tr>
    </tbody>
</table>
-->